@model IEnumerable<EducationalLibraryManagementSystem.Models.Book>

<h2>Books List</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
                <td>@book.Quantity</td>
                <td>
                    <a class="btn btn-sm btn" asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-area="Admin" asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No books available in the database.
    </div>
}
